/* -----------------------------------------------------------------------------

# Shop Banner Styles

----------------------------------------------------------------------------- */
.shop-banner {
    position: relative;
    background-color: #f5f5f5;
    background-image: url(../img/1.jpg);
    background-size: contain; /* Đảm bảo ảnh luôn hiển thị đầy đủ */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Đảm bảo ảnh không bị lặp lại */
    padding: 110px 0px 115px;
    min-height: 400px; /* Đảm bảo chiều cao tối thiểu để ảnh không bị cắt */
    background-attachment: fixed; /* Giữ ảnh nền cố định khi cuộn trang */

  h3 {
    position: relative;
    font-size: 50px;
    line-height: 1.2em;
    margin-bottom: 0px;
  }

  .sale-percent {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: $primary-color;

    span {
      position: relative;
      font-size: 24px;
      line-height: 1.1em;
      color: $text-color;
      font-weight: 400;
      text-align: center;
      margin-right: 10px;
      display: inline-block;
    }
  }
}